
<h1>Question Control Zone</h1>

<h2>Make New Questions</h2>

<li><%= link_to "Synonym Questions", new_question_syn_path%></li>
<li><%= link_to "Dog Breed Questions", new_question_dog_path%></li>
<li><%= link_to "Movie Questions", new_question_mov_path%></li>
<li><%= link_to "Matching Questions", new_question_mat_path%></li>

<h2>Analytics</h2>

<h3>Game Popularity</h3>


<h3>Game Difficulty</h3>


<h3>Questions by Difficulty</h3>


