<h1>Start a New Game!</h1>

[Should only be accessable if current user is the right one]

<h2>Choose a Game</h2>

<% game_types.each do |game_type| %>

<div>
    <h3><%=game_type[:name]%></h3>
    <p><%=game_type[:description]%></p>
    <%= button_to "Play Now!"%>
</div>

<% end %>




<h2>Challenge a Friend<h3>