<h1><%= @game.game_form.title %></h1>


[only accessible to player]

<br/>

<% if @game.complete? %>

[Display results table if complete]


<% else %>

[Display play forms if not complete]

[Instructions]

[Questions]

[Submit Button]

<% end %>