/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: "Open Sans", sans-serif;
 }


.ui.secondary.pointing.menu {
  background-color: #fbbd08;
  box-shadow: #000;
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
}


.big-button {
  color:#fbbd08;
  border:#fbbd08 solid 6px;
  border-radius:6px;
  text-align: center;
  line-height: 1.2;
  background-color: black;
  height: 80px;
  width: 150px;
  margin:0 10px;
  font-size:4em;
  font-family: "Baloo Chettan", cursive;
}

.big-button:hover {
  background:black;
  color: #fbbd08;
}

.small-button {
  height: 40px;
  color:black;
  border:black solid 4px;
  border-radius:4px;
  padding: 0 10px;
  margin:4px 10px;
  font-size:1.5em;
  font-family: "Baloo Chettan", cursive;
}

.small-button:hover {
  background:black;
  color: #fbbd08;
}






.main-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-family: "Baloo Chettan", cursive;
  font-size: 48px;
  border: black 16px double;
  border-radius: 8px;
  padding: 0 10vw;
}

.section-title {
  font-family: "Baloo Chettan", cursive;
  font-size: 36px;
}

.part-title {
  font-family: "Baloo Chettan", cursive;
  font-size: 24px;
}

.neutral-notification {
  text-align: center;
  border-radius: 2px;
  padding: 14px 30px;
  margin: 10px 0;
  color: #fbbd08;
  font-size: 32px;
  border: black double 8px;
}

.good-notification {
  border: solid #0CC941 4px;
  text-align: center;
  padding: 14px 30px;
  margin: 10px auto;
  color: #0CC941;
  background: white;
  font-size: 1.4em;
  width: 60%;
}

.bad-notification {
  border: solid #E85C5C 4px;
  text-align: center;
  color: #E85C5C;
  padding: 14px 30px;
  margin: 10px auto;
  background: white;
  font-size: 1.4em;
  width: 60%;
}

ul {
  padding: 10px 0;
  border: black 8px double;
  border-radius: 8px;
  width: 300px;
  list-style-type: none;
  text-align: center;
}

ol {
  padding: 10px 0;
  border: black 8px double;
  border-radius: 8px;
  width: 300px;
}

li {
  font-size: 1.2em;
  margin: .5em 1em;
  
}

li > a {
  font-size: 1.2em;
  color: black;
  border: black solid 2px;
  padding: 2px;
  border-radius: 4px;
}

li > a:hover {
  box-shadow: 0 0 0 0.1em #000;
  color: black;
}



li > p {
  color: black;
  text-align: center;
  margin: 5px 0 0 0;
}



li > p > a {
  color: black;
  padding: 2px;
  border-bottom: black 2px solid;
}

li > p > a:hover {
  box-shadow: 0 0 0 0.1em #000;
  color: black;
}

li > form {
  font-size: 16px;
  text-align: center;
}



.stats {
  margin: 1vh 0;
  border: black double 8px;
  border-radius: 2px;
  width: 400px;
  font-size: 1.25em;
  text-align: center;
}

.stats > legend {
  color: #fbbd08;;
  background: #000;
  padding: 0.25em 1em;
  border-radius: 4px;
  text-align: left;
}

.stats > p {
  font-size: 1.2em;
  color: black;
}



.outer_three {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:max-content;
  margin: 10vh auto 0 auto;

}

.inner_three {
  display: flex;
  justify-content: center;
  
}

.square {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 5px;
  border: black 10px double;
  border-radius: 10px;
  background: black;
  width: 200px;
  height: 200px;
  align-content: center;
}

.square > img {
  width: 200px;
  height: 200px;
}




.main_title {
  margin: 5px;
  border-radius: 10px;
  width: 620px;
  height: 200px;;
}





img {
  max-width: 100%;
  max-height: 100%;
}

html {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Baloo Chettan", cursive;
}

/* Question Styling */

.question {
  margin: 5vh 0;
  border: black double 8px;
  border-radius: 6px;
  max-width: 400px;
  font-family: "Baloo Chettan", cursive;
  font-size: 1.25em;
}

.question > legend {
  color: #fbbd08;
  background: #000;
  padding: 0.25em 1em;
  border-radius: 1em;
}

.prompt {
  border: black solid 4px;
  border-radius: 4px;
  background: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prompt > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  font-size: 1em;
}

.results {
  text-align: center;
  width: 90%;
  display: inline-block;
  border: black solid 4px;
  border-radius: 4px;
  margin: 1vh 0;
  padding: 0.5em;
}

.results-yours {
  text-align: center;
  width: 90%;
  display: inline-block;
  border: #E85C5C solid 4px;
  border-radius: 4px;
  margin: 1vh 0;
  padding: 0.5em;
}

.results-right {
  text-align: center;
  width: 90%;
  display: inline-block;
  border: #0CC941 solid 4px;
  border-radius: 4px;
  margin: 1vh 0;
  padding: 0.5em;
}

/* HTML5 Boilerplate accessible hidden styles */
.hidden_radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span {
  text-align: center;
  width: 90%;
  display: inline-block;
  border: black solid 4px;
  border-radius: 4px;
  margin: 1vh 0;
  padding: 0.5em;
}

[type="radio"]:hover + span {
  box-shadow: 0 0 0 0.1em #000;
}
[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.2em #000;
  background:#fbbd08;
}

[type="submit"] {
  text-align: center;
  color:black;
  background: #fbbd08;
  width: 200px;
  display: inline-block;
  border: black solid 4px;
  border-radius: 16px;
  margin: 1vh 0;
  padding: 0.5em;
  font-family: "Baloo Chettan", cursive;
  font-size: 1.25em;
  
}

.important_button {
  text-align: center;
  color:black;
  background: #fbbd08;
  width: 200px;
  display: inline-block;
  border: black solid 4px;
  border-radius: 20px;
  margin: 1vh 0;
  padding: 0.5em;
  font-family: "Baloo Chettan", cursive;
  font-size: 1.5em;
}

[type="submit"]:hover {
  box-shadow: 0 0 0 0.1em #000;
}



.ui.secondary.pointing.menu .item:hover {
  border-bottom-color: royalblue;
}
